# Use of LLM through Groq Platform (https://groq.com/)
GROQ_API_KEY=""

# Use Gemini embedding model
GEMINI_API_KEY=""

# Serper API KEY
SERPER_API_KEY=""

# Model parameters
MODEL_NAME="groq/gemma2-9b-it"
MODEL_TEMPERATURE=0